@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family:"Inter", sans-serif
}

a{
    color: black;
}


@media (max-width: 700px){ 
    body {
    font-size: 70%;
    }
}

footer{
    margin-top: 3%;
    padding: 0.9%;
    background-color: #8abac0;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer a{
    padding-right: 0.5%;
}

.nav {
    background-color: #9dd2d8;
    padding: 1%;
}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

@media (max-width: 700px) {
    .card {width: 150px;
    height: 150px;}
}


.in {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card:hover .in {
    transform: rotateY(180deg);
  }

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    border-radius: 20%;
}

.back {
    transform: rotateY(180deg);
}

.front img, .back img{
    width: 100%;
    height: 100%;
}

.home-container {
    display: flex;
    justify-content: space-around;
}

.home-container a{
    background-color:#9dd2d8;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 320px;
    font-size: 150%;
}

.home-container a:hover {
    background-color: #8abac0;
}

@media (max-width: 700px){
    .home-container {
        flex-direction: column;
        justify-content: center;
        border-radius: 3%;
        width: auto;
        margin: 5%;
    }
    .home-container a{
        flex-direction: center;
        border-radius: 3%;
        height: 60px;
        margin: 2%;
        padding: 1%;
        width: auto;
    }

    .footer {
        padding-top: 3%;
        padding-bottom: 2%;
    }
}



.imagens {
    height: 90px;
    width: 90px;
    margin: auto;
}


.desc{
    font-size: 150%;
    margin: 1%;
}

.hob-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 1%;
    text-align: center;
}

.hob-container div{
    background-color:#9dd2d8;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    font-size: 150%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

.hob-container img{
    border-radius: 2%;
}

.hob-container a:hover {
    background-color: #93c5ca;
}

@media (max-width: 700px){
    .hob-container {
        flex-direction: row;
        justify-content: center;
    }
    .hob-container div{
        flex-direction: column;
        border-radius: 5%;
        padding: 1%;
        margin: 1%;
        width: 28%;
        font-size: 70%;
    }
}

.proj-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 1%;
    text-align: center;
}

.proj-container div{
    background-color:#9dd2d8;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28%;
    font-size: 130%;
    padding: 1%;
    margin: 1%;
}

.proj-container p, .proj-container a{
    padding-bottom: 1%;
}

.proj-container img{
    border-radius: 2%;
    padding-bottom: 1%;
}

.proj-container a:hover {
    background-color: #93c5ca;
}

@media (max-width: 700px){
    .proj-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .proj-container div{
        flex-direction: column;
        border-radius: 5%;
        padding: 2%;
        margin: 2%;
        width: auto;
    }
}

.sub {
    font-size: 150%;
    text-align: center;
}



.links {
    float: right;
    padding-top: 3%;
}

.links img{
    float: left;

}

.foto-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foto-container img{
    border-radius: 10%;
    padding: 0.3%;
}



