{% extends "base.html" %}

{% block conteudo %}
<body class="margem" style="background-color: #C3E9EC;">
    <div>
        <img src="../static/imagens/logo.png" alt="logo" width="10%" style="border-radius: 20%;">
        <div class="links">
            <a  href="/"> Home </a> |
            <a href="/hobbies"> Hobbies </a> |
            <a href="/fotografias"> Fotografias </a>
        </div>
    </div>
<div class="esc-container">
    <div>
        <img src="../static/imagens/chapeu.png" > Ensino Fundamental completo (2011 - 2019)
    </div>
    <div>
        <img src="../static/imagens/chapeu.png"> Ensino Médio completo (2020 - 2022)
    </div>
    <div>
        <img src="../static/imagens/chapeu.png"> Cursando Desenvolvimento de Software Multiplataforma na FATEC (2023 - presente)
    </div>
    <div>
        <p></p>
        <b>Outras informações: </b>
    </div>
    <div>
        <img src="../static/Imagens/chapeu.png"> 2 vezes classificado para a 2° fase da OBMEP (2017 e 2019)
    </div>
    <div>
        <img src="../static/Imagens/chapeu.png"> Aprovado em Análise e Desenvolvimento de Sistemas na UTFPR (2023)
    </div>
</div>

{% endblock %}