{% extends "base.html" %}

{% block conteudo %}
<body style="background-color: #C3E9EC;">
    <div class="nav">
        <img src="../static/imagens/icons/logo.png" alt="logo" width="10%" style="border-radius: 20%;"> 
        <div class="links">
            <a  href="/"> Home </a> |
            <a href="/escolaridade"> Escolaridade </a> |
            <a href="/hobbies"> Hobbies </a> |
            <a href="/projetos"> Projetos</a>
        </div>
    </div>
<div class="desc">
    <p>
    - Uma das atividades preferidas de Felipe, é registrar momentos, sejam estes observando a natureza ou
acompanhado de sua gata de estimação. </p>
</div>
<div class="foto-container">
    <img srcset="../static/imagens/fotos/foto1.jpg 70w, ../static/imagens/fotos/foto1.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto2.jpg 70w, ../static/imagens/fotos/foto2.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto3.jpg 70w, ../static/imagens/fotos/foto3.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto4.jpg 70w, ../static/imagens/fotos/foto4.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto5.jpg 70w, ../static/imagens/fotos/foto5.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto6.jpg 70w, ../static/imagens/fotos/foto6.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto7.jpg 70w, ../static/imagens/fotos/foto7.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto8.jpg 70w, ../static/imagens/fotos/foto8.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto9.jpg 70w, ../static/imagens/fotos/foto9.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto10.jpg 70w, ../static/imagens/fotos/foto10.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto11.jpg 70w, ../static/imagens/fotos/foto11.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto12.jpg 70w, ../static/imagens/fotos/foto12.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto13.jpg 70w, ../static/imagens/fotos/foto13.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto14.jpg 70w, ../static/imagens/fotos/foto14.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/fotos/foto15.jpg 70w, ../static/imagens/fotos/foto15.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
</div>

{% endblock %}