{% extends "base.html" %}

{% block conteudo %}
<body class="margem" style="background-color: #C3E9EC;">
<div>
    <img src="../static/imagens/logo.png" alt="logo" width="10%" style="border-radius: 20%;"> 
    <div class="links">
        <a  href="/"> Home </a> |
        <a href="/escolaridade"> Escolaridade </a> |
        <a href="/hobbies"> Hobbies </a>
    </div>
</div>
<div class="desc">
    <p>
    - Uma das atividades preferidas de Felipe, é registrar momentos, sejam estes observando a natureza ou
acompanhado de sua gata de estimação. </p>
</div>
<div class="foto-container">
    <img srcset="../static/imagens/foto1.jpg 70w, ../static/imagens/foto1.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto2.jpg 70w, ../static/imagens/foto2.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto3.jpg 70w, ../static/imagens/foto3.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto4.jpg 70w, ../static/imagens/foto4.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto5.jpg 70w, ../static/imagens/foto5.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto6.jpg 70w, ../static/imagens/foto6.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto7.jpg 70w, ../static/imagens/foto7.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto8.jpg 70w, ../static/imagens/foto8.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto9.jpg 70w, ../static/imagens/foto9.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto10.jpg 70w, ../static/imagens/foto10.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto11.jpg 70w, ../static/imagens/foto11.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto12.jpg 70w, ../static/imagens/foto12.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto13.jpg 70w, ../static/imagens/foto13.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto14.jpg 70w, ../static/imagens/foto14.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
    <img srcset="../static/imagens/foto15.jpg 70w, ../static/imagens/foto15.jpg 140w" sizes="(max-width: 700px) 25px, 50px" alt="">
</div>

{% endblock %}