{% extends "base.html" %}

{% block conteudo %}
<body class="margem" style="background-color: #C3E9EC;">
<div>
    <img src="../static/imagens/logo.png" alt="logo" width="10%" style="border-radius: 20%;"> 
    <div class="links">
        <a  href="/"> Home </a> |
        <a href="/escolaridade"> Escolaridade </a> |
        <a href="/fotografias"> Fotografias </a>
    </div>
</div>
<p style="font-size: 150%;">
    Dentre os hobbies favoritos de Felipe estão:
</p>
<div class="hob-container">
    <div>
       <a href="https://open.spotify.com/playlist/1k4qjwrIdEqEZXaqDwzOHp?si=19ad8609c0684c44" target="_blank">Ouvir música<img srcset="../static/imagens/fone.png 150w, ../static/imagens/fone.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
    </div>
    <div>
        <a href="https://www.skoob.com.br/usuario/9054741" target="_blank"> Ler livros<img srcset="../static/imagens/livro.png 150w, ../static/imagens/livro.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
    </div>
    <div>
        <a href="/fotografias">Tirar fotos <img srcset="../static/imagens/camera.png 150w, ../static/imagens/camera.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
    </div>
    <div>
        Ir para academia <img srcset="../static/imagens/academia.png 150w, ../static/imagens/academia.png 300w" sizes="(max-width: 700px) 20px, 90px" alt="">
    </div>
    <div>
        Assistir futebol <img srcset="../static/imagens/jogador.png 150w, ../static/imagens/jogador.png 300w" sizes="(max-width: 700px) 20px, 90px" alt="">
    </div>
</div>

<p>*Alguns dos itens possuem redirecionamentos para mais detalhes</p>

{% endblock %}