{% extends "base.html" %}

{% block conteudo %}
<body class="margem" style="background-color: #9dd2d8;">
    <div style="display: flex; justify-content: center;">
        <div class="card">
            <div class="in">
                <div class="front">
                    <img style="border-radius: 20%", src="../static/imagens/logo.png">
                </div>
                <div class="back">
                    <img style="border-radius: 20%", src="../static/imagens/perfil.jpg">
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; ">
        <h2> Meu Portifólio </h2>
    </div>
    <div class="home-container">
        <div>
            <a href="/escolaridade"> Escolaridade <img srcset="../static/imagens/chapeu.png 150w, ../static/imagens/chapeu.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
        </div>
        <div>        
            <a href="/hobbies"> Hobbies <img srcset="../static/imagens/fone.png 150w, ../static/imagens/fone.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
        </div>
        <div>
            <a href="/fotografias"> Fotografias <img srcset="../static/imagens/camera.png 150w, ../static/imagens/camera.png 300w" sizes="(max-width: 700px) 20px, 90px" alt=""> </a>
        </div>
    </div>
{% endblock %}