<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/Src/static/estilo.css">
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <img style="border-radius: 20px;" src="/Src/Imagens/perfil.jpg" alt="foto de perfil" width="200px">
    </div>
    <div style="text-align: center; ">
        <h2> Meu Portifólio </h2>
    </div>
    <div class="home-conteiner">
        <div class="botao">
            <a href="escolaridade.html"> Escolaridade </a>
            <div>
            <img src="/Src/Imagens/chapeu.png" alt="" width="90px">
            </div>
        </div>
        <div class="botao">        
            <a href="hobbies.html"> Hobbies </a>
            <div>
                <img src="/Src/Imagens/fone.png" alt="" width="90px">
            </div>
        </div>
        <div class="botao">
            <a href="fotografias.html"> Fotografias</a>
            <div>
                <img src="/Src/Imagens/camera.png" alt="" width="90px">
            </div>
        </div>
    </div>


</body>
</html>