{% extends "base.html" %}
<body class="margem" style="background-color: #C3E9EC;">
    <div class="nav">
        <img src="../static/imagens/icons/logo.png" alt="logo" width="10%" style="border-radius: 20%;"> 
        <div class="links">
            <a  href="/"> Home </a> |
            <a href="/escolaridade"> Escolaridade </a> |
            <a href="/hobbies"> Hobbies </a>
        </div>
    </div>
{% block content %}
<h3 class="sub"> Meus principais projetos </h3>
<div class="hob-container">
    <div>
        
    </div>
</div>
{& endblock &}