.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    gap: 20px;
}

.text-content {
    max-width: 70%;
}

.intro-title {
    font-size: 2em;
    color: #2c3e50;
    text-align: left;
    font-weight: bold;
}

.intro-text {
    font-size: 1.2em;
    color: #7f8c8d;
    margin-bottom: 20px;
    text-align: left;
}

.project-list {
    list-style-type: disc;
    margin-left: 40px;
}

.project-item {
    font-size: 1em;
    color: #34495e;
    margin-bottom: 10px;
    line-height: 1.6;
}

.goal-text {
    font-size: 1.2em;
    color: #2c3e50;
    text-align: left;
}

.image-content {
    justify-content: center;
    align-self: start;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  @media (max-width: 1024px) {
    .intro-container {
      flex-direction: column;
    }
  
    .text-content {
      max-width: 95%;
    }

    .project-item{
      font-size: 1.5em;
    }

    .goal-text, .intro-text{
      font-size: 1.7em;
    }
  
    .image-content {
      max-width: 50%;
      align-self: center;
    }
  }