.page-title {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
}

.proj-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 1%;
    text-align: center;
}

.proj-container div{
    border:#cacaca solid 1px;
    background-color: #ECF0F1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    font-size: 130%;
    padding: 1%;
    margin: 1%;
}

.proj-container a{
    text-decoration: none;
}

.proj-container div:hover {
    background-color: #e5e5e6;
}

.proj-container img{
    height: 12rem;
}

.proj-container p, .proj-container a{
    padding-bottom: 1%;
}

.proj-container img{
    border-radius: 10px;
    padding-bottom: 1%;
}


@media (max-width: 700px){
    .proj-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .proj-container div{
        flex-direction: column;
        border-radius: 10px;
        padding: 2%;
        margin: 2%;
        width: auto;
    }
}