.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #4a6d91;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.2s;
}

.navbar a:hover {
    color: #acb3b9;
}

.logo {
    height: 70px;
}