/* ===== Seção Sobre Mim ===== */
.sobre-section {
  padding: 80px 10%;
}

.sobre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.sobre-text {
  flex: 1;
  min-width: 300px;
}

.sobre-text h2 {
  font-size: 2.4em;
  color: #1e293b;
  margin-bottom: 20px;
}

.sobre-text p {
  font-size: 1.1em;
  color: #475569;
  margin-bottom: 15px;
}

.sobre-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.sobre-image img {
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.sobre-image img:hover {
  transform: scale(1.03);
}

/* ===== Seção Hobbies ===== */

.hobbies-title{
    text-align: center;
    font-size: 2.6em;
    color: #1e293b;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hobbies-section {
  padding: 80px 10%;
}

.hobbies-section.alt {
  background-color: #ffffff;

}
.hobbies-section h2 {
  font-size: 2.2em;
  text-align: center;
  color: #1e293b;
  margin-bottom: 60px;
}

.hobbie-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 80px;
  transition: transform 0.3s ease;
}

.hobbie-item:hover {
  transform: translateY(-4px);
}

.hobbie-item.alt {
  flex-direction: row-reverse;
}

.hobbie-text {
  flex: 1;
}

.hobbie-text h3 {
  font-size: 1.6em;
  color: #1e293b;
  margin-bottom: 10px;
}

.hobbie-text p {
  color: #475569;
  font-size: 1.1em;
}

.hobbie-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hobbie-image img {
  max-width: 450px;
  transition: transform 0.3s ease;
}

.hobbie-image img:hover {
  transform: scale(1.05);
}

/* ===== Responsivo ===== */
@media (max-width: 1024px) {
  .sobre-content,
  .hobbie-item {
    flex-direction: column;
    text-align: center;
  }

  .sobre-text,
  .hobbie-text {
    max-width: 95%;
  }

  .sobre-image img,
  .hobbie-image img {
    max-width: 80%;
  }

  .hobbies-section h2 {
    font-size: 1.8em;
  }
}
